@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar customizations:  */

/* webkit browsers  */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #101010;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* firefox */
:root {
  scrollbar-color: #555 #101010 !important;
  scrollbar-width: 8px !important;
}
